#slider {
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    overflow: hidden;
    position: relative;
}

#slider .slides {
    display: flex;
    transition: transform 3s ease;
}

#left, #right {
    height: 400px;
    width: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    transition: width 1s ease, background 1s ease;
}

#right {
    right: 0;
}

#dots {
    text-align: center;
}

.dot {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

#left:hover, #right:hover {
    width: 30px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}

.slide > * {
    width: 600px;
    text-align: center;
}
