*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #222;
}
div#app{
    width: 30%;
    min-width: 480px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
form#noteForm{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
form#noteForm label{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
}
form#noteForm input,
form#noteForm textarea{
    width: calc(100% - 10px);
    border: 1px solid #d88f30;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    outline-color: #ddd
}
form#noteForm input#color{
    width: calc(30% - 10px);
}
form#noteForm input#pin{
    width: calc(10% - 10px);
}
form#noteForm button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #d88f30;
    transition: filter 0.3s;
}