body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app {
    text-align: center;
}

#search {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#citiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cityCard {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.cityName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.temperature {
    font-size: 24px;
    color: #3498db;
}

.weatherDescription {
    font-size: 16px;
    margin-top: 10px;
}

.removeCity {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.removeCity:hover {
    background-color: #c0392b;
}