body{
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#app{
    text-align: center;
}
#search{
    margin-bottom: 20px;
}
label{
    font-weight: bold;
}
input{
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: #c0392b;
}

#cities-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.city{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
}
.city h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.weather-icon{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.city p{
    font-size: 16px;
    margin: 5px 0;
}
#add-city-button{
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
#add-city-button:hover{
    background-color: #2980b9;
}
